node_modules
.next
.env
.env.local
.env.production.local
.env.development.local

tsconfig.tsbuildinfo

# PWA files
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# Certificados digitais (NUNCA commitar!)
/certificates/
*.p12
*.pfx
*.pem
*.key
*.crt
*.cer
